@media (min-width: 768px) and (max-width: 1169px){
    #home h2{
        font-size: 44px;
    }
    .home-content-h2{
        font-size: 44px;
    }
}
@media  (max-width: 768px){
    #home h2{
        font-size: 30px;
    }
    .home-content-h2{
        font-size: 30px;
    }
}